@media screen and ( max-width: 1200px ) 
    html
        font-size: 0.71rem
        &__item
            margin-right: 1rem 

        

@media screen and ( max-width: 992px ) 
    .nav
        &__item
            display: none
    .hero
        &__instagram
            display: none
        

@media screen and ( max-width: 570px )

        .container
            width: 100%
        .contacts
            &__logo
                font-size: 0.85rem

            &__phone
                margin-right: 0
                color: $light
                text-decoration: none
                font-size: 0.85rem
            &__button 
                display: none
        .hero
            &__title
                font-family: 'Yeseva One', cursive
                font-style: normal
                font-weight: normal
                font-size: 1.64rem
                margin-top: 6.2rem
                
               
                line-height: 2.21rem  
            &__text 
                
                font-size: 1.28rem
                line-height: 1.71rem
                font-style: normal
                font-weight: normal
            
            &__container 
                
                max-width: 24.14rem

            &__button
                min-width: 24.14rem 
                font-size: 0.92rem
                &:last-child
                margin-right: 0
                margin: 1rem 0
            &__scrol_down
                display: none   
        .menu
            &__logo
                font-size: 0.85rem
                margin-left: 1.3rem









              





        