@import 'fonts'
@import 'templates/normalize'
@import 'templates/grit'
@import 'templates/variables'
@import 'templates/interface'
@import 'templates/header'
@import 'templates/hero'
@import 'templates/control'
@import 'templates/types'
@import 'templates/design'
@import 'templates/modal'

@import 'media'

*, *:after, *:before
    box-sizing: border-box
html
    font-size: 14px
    /*1 rem =14px*/    
body
    font-family: 'Futura Book', sans-serif
    font-size: 14px

img
    max-width: 100%

.section
    padding-bottom: 4.28rem


     

        

    