.desing
    &__text
        text-align: center
        font-family: 'Futura Book'
        font-style: normal
        font-weight: normal
        font-size: 1.42rem
        padding-bottom: 2.78rem
        line-height: 1.92rem
    &__section
        margin-top: 2rem
       
       
@media screen and ( max-width: 760px ) 
    .desing
        &__section
            background-color: $dark
        &__text
            color: $light
            font-family: 'Futura Book'
            font-style: normal
            font-weight: normal
            font-size: 1.07rem
            line-height: 1.5rem
            text-align: center
            
    .section-title
        &--white
            color: $light

           


@media screen and ( min-width: 761px )  
    .desing 
        &__section 
            background: linear-gradient(to bottom, $light 50%, $dark 50%)
         
