.button
    text-align: center
    font-family: 'Futura Demi'
    font-size: 0.92rem
    text-transform: uppercase
    border: none
    border-radius: 2px
    cursor: pointer
    font-weight: 500
    line-height: 1.07rem



    &--primary
        padding: 1.35rem 1.85rem
        font-family: 'Futura Demi'
        font-weight: 500
        border: 1px solid $primary
        color: $light
        background-color: $primary
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        transition: box-shadow 0.3s
        text-transform: uppercase
        &:hover
            box-shadow:none

    &--outline
        padding: 1.35rem 3rem
        text-transform: uppercase
        background-color: transparent
        border: 1px solid $light
        color: $light 
        font-weight: 500
        font-family: 'Futura Demi'
        font-size: 0.92rem
       


        /*font-family: 'Yeseva One', cursive;*/

      

