.button
    padding: 13px 20px
    text-transform: uppercase
    border: none
    border-radius: 2px
    
.button
    &--primary
        color: $light
        background-color: $primary
    &--outline    
        background-color: transparent
        border: 1px solid $light
        color: $light 


        /*font-family: 'Yeseva One', cursive;*/

      

