.section-title
    &__heading
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    line-height: 2rem
    text-align: center
.section
    &__types
        margin-bottom: 2rem
.types 
    &__section
       margin-bottom: 18rem  
        
.col   
    display: flex
    justify-content: space-between
    align-items: center
    flex-basis: 31%
.card 
    &__list
    position: relative
    margin-right: 1%
    &:last-child
    
        margin-right: 0
    &__text 
        position: absolute
        left: 2.7rem
        font-size: 1.28rem
        font-family: 'Yeseva One', cursive
        text-transform: none
        background: #ffffff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
        max-width: 26.6rem
        margin: 0 auto
        padding: 1.78rem 3.5rem 1.64rem 2.21rem
        margin-top: -9.3rem
    &__item
        font-size: 1rem
        font-family: 'Futura Book'
        margin-left: 0.6rem
        margin-bottom: 0.1rem
    &__title
        font-family: 'Yeseva One', cursive
        font-size: 1.29rem

    h3
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 1.28rem
        line-height: 1.78rem
        margin-top: -0.2rem
        margin-left: 0.6rem
        
    &__list    
        margin: -0.9rem
        padding: 0 0 0 0.5rem
        color: $grey
        margin-bottom: 1rem
        padding-left: 1.9rem
        padding-right: 2.2rem
        padding-bottom: 0.8rem
    &__list 
        li 
            font-family: 'Futura Book'
            font-style: normal
            font-weight: normal
            font-size: 1.07rem
            line-height: 1.78rem
    &__pricetag 
        position: absolute
        left: 0.6rem
        bottom: -2rem
        color: $light 
        font-size: 1.2rem  
        background-color: $primary
        text-align: center
        padding: 1rem 2rem
        font-family: 'Yeseva One', cursive
        text-transform: uppercase


@media screen and ( max-width: 760px ) 
    .col
        flex-direction: column 
        align-items: center 
        &__card
         margin-bottom: 15rem    
    .card        
        &__text
          position: absolute    
          left: 0
          
          
        
    
           
         
  





      
       
      
           



    



    



    