
.section
    &__types
        margin-bottom: 2rem
.types 
    &__section
       margin-bottom : 18rem  
        
.col   
    
    display: flex
    justify-content: space-between
    align-items: center
    flex-basis: 32%
.card 
    position: relative
    margin-right: 1%
    &:last-child
    
        margin-right: 0
    &__text 
        position: absolute
        left: 2rem
        font-size: 1.28rem
        font-family: 'Yeseva One', cursive
        text-transform: none
        background: #ffffff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
        max-width: 26.6rem
        margin: 0 auto
        padding: 0.1rem 0.8rem 0.5rem 0.8rem
        margin-top: -8.4rem
    &__item
        font-size: 1rem
        font-family: 'FuturaBookC'
        line-height: 1.78rem
        
    
     
    &__title
       
         font-family: 'Yeseva One', cursive
         font-size: 1.29rem
         margin-bottom: 0.4rem
         padding-left: 1.1rem
        
    &__list    
        margin: 0
        padding: 0 0 0 0.5rem
        font-size: 1.07rem
        line-height: 1.2rem
        color: $grey
        margin-bottom: 1rem
        padding-left: 2.4rem
        padding-right: 2.21rem
        padding-bottom: 2rem
    &__pricetag 
        position: absolute
        left: 0
        bottom: -1.2rem
        color: $light 
        font-size: 1.2rem  
        background-color: $primary
        text-align: center
        padding: 1rem 2rem
        font-family: 'Yeseva One',cursive
        text-transform: uppercase


@media screen and ( max-width: 760px ) 
    .col
        flex-direction: column 
        align-items: center 
        &__card
         margin-bottom: 12rem    
    .card        
        &__text
          position: absolute    
          left: 0
    .types 
        &__section
            margin-bottom : 4rem        
    
           
         
  





      
       
      
           



    



    



    